/build/
/build-*/
/test_package/build/
/test_package/CMakeUserPresets.json
/recipes/filament/test_package/build/
/recipes/filament/test_package/CMakeUserPresets.json
/cmake-build-*/
/CMakeUserPresets.json
/.conan/
/.DS_Store
*.pyc
__pycache__/
*.blend1
/generated/
